main {
  
}
main #service {

}
main #service .inner {
}
main #service .inner hgroup {
  margin-bottom: 50px;
}
main #service .inner hgroup h2 {  
  color: #aaa;
}
main #service .inner hgroup h3 {
  line-height: 2;
}
main #service .inner .contents {
  flex-wrap: wrap;
  row-gap: 150px;
  column-gap: 50px;
  padding-bottom: 500px;
  position: relative;
}
main #service .inner .contents article {
  width: calc(100% / 3 - 100px / 3);
}
main #service .inner .contents article:nth-child(3n+1){
  transform: translateY(25%);
}
main #service .inner .contents article:nth-child(3n+2){
  transform: translateY(50%);
}
main #service .inner .contents article a {
  display: block;
  position: relative;
}
main #service .inner .contents article a::before{
  content: "";
  display: block;
  width: 100%;
  height: 595px;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  border: 0px solid transparent;
  background-origin: border-box;
  transition: all 500ms;
}
main #service .inner .contents article a:hover::before{
  border: 40px solid #636a52;
}
main #service .inner .contents article:nth-child(1) a::before{
  background-image: url(../img/main-service-01.jpg);
}
main #service .inner .contents article:nth-child(2) a::before{
  background-image: url(../img/main-service-02-1.jpg);
}
main #service .inner .contents article:nth-child(3) a::before{
  background-image: url(../img/main-service-03.jpg);
}
main #service .inner .contents article:nth-child(4) a::before{
  background-image: url(../img/main-service-04.jpg);
}
main #service .inner .contents article:nth-child(5) a::before{
  background-image: url(../img/main-service-05-1.jpg);
}
main #service .inner .contents article:nth-child(6) a::before{
  background-image: url(../img/main-service-06.jpg);
}
main #service .inner .contents article a h4 {
  font-weight: 700;
  font-size: 25px;
  padding: 20px 0;
  line-height: 1.3;
}
main #service .inner .contents article a p {
  color: #666;
}
main #service .inner .contents a.more{
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  padding-right: 50px;
  font-size: 14px;
  width: 100px;
}





/* space */
#space{
  position: relative;
  padding: 260px 0 100px;
}
#space .inner{
  height: 880px;
  margin-left: 0;
  width: 90%;
  background-image: url(../img/main-space-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding-left: 17%;
}
#space .inner h2{
  font-size: 165px;
  font-weight: 800;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#space .inner p{
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 40px;
  margin-top: 50px;
}
#space .inner a{
  position: relative;
  font-size: 14px;
  font-weight: 600;
  width: 100px;
  padding-right: 50px;
}
#space .inner > *:not(h2){
  color: #fff;
}
#space .inner a::before{
  background-color: #fff;
}


/*  view more hexagon animation */
a span.hexagon{
  display: block;
  width: 45px;
  height: 35px;
  background-image: url(../img/hexagon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50% - 15px);
  right: -15px;
  transform-origin: 51% 55%;
  opacity: 0;
  transition: opacity 500ms;
}
a:hover span.hexagon{
  animation-name: hexagon;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 1;
}
@keyframes hexagon {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* brand story */
#brand {
 
}
#brand .inner {
 
}
#brand .inner hgroup {
  
}
#brand .inner hgroup h2 {
  color: #aaa;
}
#brand .inner hgroup h3 {
  line-height: 2;
}
#brand .inner hgroup h4 {
  color: #000;
  line-height: 1.5;
  margin-bottom: 140px;
}
#brand .inner ul.contents {
  width: 90%;
  margin-bottom: 100px;
}
#brand .inner ul.contents li {
  flex-grow: 1;
  width: calc(100% / 3);
}
#brand .inner ul.contents li:nth-child(2){
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
#brand .inner ul.contents li::before{
  content: "";
  display: block;
  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}
#brand .inner ul.contents li:nth-child(1):before{
  background-image: url(../img/bs_keep.svg);
}
#brand .inner ul.contents li:nth-child(2):before{
  background-image: url(../img/bs_clean.svg);
}
#brand .inner ul.contents li:nth-child(3):before{
  background-image: url(../img/bs_green.svg);
}
#brand .inner ul.contents li h5 {
  margin: 40px 0 20px 0;
}
#brand .inner ul.contents li p {
 color: #666;
}
#brand .inner a.more {
  position: relative;
  display: block;
  padding-right: 50px;
  font-weight: 600;
  font-size: 14px;
  width: 100px;
}
#brand .inner a.more span.hexagon {
  
}